.student-edit-note-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.student-edit-note-title {
    font-size: 24px;
    color: var(--accent);
}

.student-edit-note-footer {
    justify-self: right;
    align-self: center;
}

.student-edit-note-container .mat-dialog-content {
    display: flex;
    flex-direction: column;
}

.student-edit-note-container .mat-dialog-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

::ng-deep .student-edit-note-container .mat-form-field-underline {
    background-color: var(--white)!important;
}

::ng-deep .student-edit-note-container .mat-form-field-ripple {
    background-color: var(--accent)!important;
}

::ng-deep .student-edit-note-container .mat-form-field-infix {
    color: var(--white)!important;
}

::ng-deep .student-edit-note-container .mat-input-element {
    caret-color: var(--white)!important;
}

::ng-deep .student-edit-note-container .mat-form-field .mat-form-field-label {
    color: var(--white)!important;
}

::ng-deep .student-edit-note-container .mat-form-field.mat-focused .mat-form-field-label {
    color: var(--accent)!important;
}