<div class="student-edit-note-container">
    <div class="student-edit-note-title">Edit Note</div>

    <mat-dialog-content [formGroup]="editNoteForm">
        <mat-form-field>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="10" formControlName="note"></textarea>
        </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-button mat-dialog-close type="submit" [disabled]="!editNoteForm.valid" color="button-accent" (click)="onClickConfirm()">Confirm</button>
        <button mat-button mat-dialog-close color="button-warn">Close</button>
    </mat-dialog-actions>
</div>