@use '../../../variables' as globals;

.mat-card-header.review {
  // background-color: globals.$accent-color;
  // color: globals.$primary;
  background-color: globals.$light-primary;
  color: white;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 1em;
}

.mat-button.mat-primary {
  color: globals.$accent-color;
}

.mat-card-header .mat-card-title {
  width: 100%;
  margin: 0.5em;
}

.mat-card {
  margin: 1em;
}

button.submit {
  width: 20em;
}

mat-form-field {
  width: 50%;
}

.mat-table,
.mat-card {
  background-color: globals.$primary;
}

.mat-stepper-horizontal {
  background-color: globals.$primary;
  color: white;
  border: 2px white solid;
  border-radius: 10px;
}