@use '../../../../_variables'as globals;

.mat-card-header.review {
  background-color: globals.$primary;
  color: white;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 1em;
}

.mat-card-header .mat-card-title {
  width: 100%;
  margin: 0.5em;
}

.mat-card {
  margin: 1em;
}

button.submit {
  width: 20em;
}

mat-form-field {
  width: 50%;
}
