<div class="landing-container">
    <div class="landing-header" [class.woohoojin-header]="isWoohoojin()">
        <div class="landing-primary-text">{{getCoachName()}}</div>
        <div class="landing-secondary-text">Valorant Student Tracker</div>
    </div>

    <div class="cards">
        <div class="card">
            <div class="card-title">
                Students
            </div>
            <div class="card-content">
                {{ totalStudentsValue }}
            </div>
        </div>

        <div class="card">
            <div class="card-title">
                Notes Taken
            </div>
            <div class="card-content">
                {{ totalNotesValue }}
            </div>
        </div>

        <div class="card">
            <div class="card-title">
                RR Gained
            </div>
            <div class="card-content">
                {{ rrGainedValue }}+
            </div>
        </div>
    </div>
</div>