<div class="landing-container">
    <div class="landing-header-container">
        <div class="landing-login-button" *ngIf="!spreadsheetEditor.isLoggedIn()">
            <button mat-button color="button-accent" (click)="onClickLogin()">Login</button>
        </div>
        <div class="landing-header">
            <img id="landing-primary-text" src="assets/images/footer-woohoojin.png"/>
            <div class="landing-secondary-text">Valorant Student Tracker</div>
        </div>
    </div>
    
    <app-student-selector class="landing-student-selector"></app-student-selector>
</div>