@import '../../variables.scss';

button {
    background-color: $accent-color;
    color: $main-background-color;
}

select {
    background-color: $main-background-color;
    color: white;
}

.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: $accent-color;
}