<div class="student-selector-container">
    <mat-form-field floatLabel='never'>
        <mat-label>Search Students...</mat-label>
       
        <input type="text" matInput [formControl]="searchStudentsCtrl" [matAutocomplete]="auto">

        <mat-autocomplete #auto="matAutocomplete">
            <mat-option disabled *ngIf="loading">
                <div class="student-selector-load">
                    <mat-spinner diameter="35"></mat-spinner>
                </div>
            </mat-option>

            <ng-container *ngIf="!loading && (filteredStudentNames | async) as students">
                <!-- Create student if the filter finds no one and logged in -->
                <ng-container *ngIf="students.length == 0 && !spreadsheetService.isReadOnly()">
                    <mat-option (click)='onClickCreate()'>
                        Create student
                    </mat-option>
                </ng-container>

                <ng-container *ngIf="students.length > 0">
                    <mat-option (click)='openStudentPage(student)' *ngFor="let student of filteredStudentNames | async" [value]="student">
                        {{student}}
                    </mat-option>
                </ng-container>
            </ng-container>
        </mat-autocomplete>
    </mat-form-field>
</div>