<div class="fill-screen relative container mx-auto overflow-x-none overscroll-contain place-content-center mt-10 mb-0">
    <div class="flex justify-center">
        <div class="relative">
            <input class="
                form-control
                block
                text-base
                text-4xl
                max-w-full
                mb-10
                whitespace-normal
                font-normal
                text-violet-200
                placeholder:text-violet-300
                rounded
                bg-violet-400
                focus:bg-violet-300
                focus:placeholder:text-violet-200
                py-3
                px-4
                transition ease-in-out
                m-0
                focus:text-slate-50 focus:outline-none
                peer
            " id="student-name" placeholder=" " [(ngModel)]="student.name" (change)="updateStudent()" />
            <label class="
                text-base
                text-4xl
                text-violet-300
                absolute
                top-3 z-10 origin-[0] left-2.5
                duration-300 transform 
                -translate-y-12
                scale-50
                empty:scale-100
                peer-placeholder-shown:scale-100
                peer-placeholder-shown:translate-y-0
                peer-focus:scale-50
                peer-focus:-translate-y-12
            " for="student-name">Student Name</label>
        </div>
    </div>
    <div class="flex justify-center">
        <div class="relative">
            <input class="
                form-control
                block
                text-base
                text-4xl
                max-w-full
                mb-10
                whitespace-normal
                font-normal
                text-violet-200
                placeholder:text-violet-300
                rounded
                bg-violet-400
                focus:bg-violet-300
                focus:placeholder:text-violet-200
                py-3
                px-4
                transition ease-in-out
                m-0
                focus:text-slate-50 focus:outline-none
                peer
            " id="student-tracker" placeholder=" " [(ngModel)]="student.tracker" (change)="updateStudent()" />
            <label class="
                text-base
                text-4xl
                text-violet-300
                absolute
                top-3 z-10 origin-[0] left-2.5
                duration-300 transform 
                -translate-y-12
                scale-50
                empty:scale-100
                peer-placeholder-shown:scale-100
                peer-placeholder-shown:translate-y-0
                peer-focus:scale-50
                peer-focus:-translate-y-12
            " for="student-tracker">Tracker Link</label>
        </div>
    </div>
    <div class="flex justify-center">
        <div class="relative">
            <input class="
                form-control
                block
                text-base
                text-4xl
                max-w-full
                mb-10
                whitespace-normal
                font-normal
                text-violet-200
                placeholder:text-violet-300
                rounded
                bg-violet-400
                focus:bg-violet-300
                focus:placeholder:text-violet-200
                py-3
                px-4
                transition ease-in-out
                m-0
                focus:text-slate-50 focus:outline-none
                peer
            " id="student-starting-rank" placeholder=" " [(ngModel)]="student.startingRank"
                (change)="updateStudent()" />
            <label class="
                text-base
                text-4xl
                text-violet-300
                absolute
                top-3 z-10 origin-[0] left-2.5
                duration-300 transform 
                -translate-y-12
                scale-50
                empty:scale-100
                peer-placeholder-shown:scale-100
                peer-placeholder-shown:translate-y-0
                peer-focus:scale-50
                peer-focus:-translate-y-12
            " for="student-starting-rank">Starting Rank</label>
        </div>
    </div>
    <div *ngFor="let note of student.notes; let idx=index;" class="flex justify-center">
        <div class="relative w-1/2">
            <textarea class="
                form-control
                block
                text-base
                text-4xl
                w-full
                mb-10
                whitespace-normal
                font-normal
                text-violet-200
                placeholder:text-violet-300
                rounded
                bg-violet-400
                focus:bg-violet-300
                focus:placeholder:text-violet-200
                py-3
                px-4
                transition ease-in-out
                m-0
                focus:text-slate-50 focus:outline-none
                peer
            " id="student-note-{{idx}}" placeholder=" " [ngModel]="student.notes[idx].content"
                (change)="updateNote($event, idx)"></textarea>
            <label class="
                text-base
                text-4xl
                text-violet-300
                absolute
                top-3 z-10 origin-[0] left-2.5
                duration-300 transform 
                -translate-y-12
                scale-50
                empty:scale-100
                peer-placeholder-shown:scale-100
                peer-placeholder-shown:translate-y-0
                peer-focus:scale-50
                peer-focus:-translate-y-12
            " for="student-note-{{idx}}">{{student.notes[idx].date.toLocaleDateString()}}</label>
        </div>
    </div>
    <div class="flex justify-center">
        <div class="relative">
            <button (click)="addNewNote()" type=" button" class="
            rounded-full
            w-full
            bg-violet-600
            w-10
            h-10
            flex
            justify-center
            text-2xl
            text-white
            font-bold
            shadow-md
            hover:shadow-lg
            focus:shadow-lg
            focus:outline-none
            focus:ring-0
            active:shadow-lg
            mb-10
            ">+</button>
        </div>
    </div>
    <div class="flex justify-center">
        <button (click)="onSubmit()" type=" button" class="
            px-6 py-2.5
            bg-violet-600
            text-white font-medium text-xs
            leading-tight uppercase
            w-96
            h-20
            shadow-md
            hover:shadow-lg
            focus:shadow-lg
            focus:outline-none
            focus:ring-0
            active:shadow-lg
            rounded-full
            transition
            duration-150 ease-in-out">
            Submit</button>
    </div>
</div>