<div class="student-create-note-container">
    <div class="student-create-note-title">New Note</div>

    <mat-dialog-content [formGroup]="createNoteForm">
        <mat-form-field>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="10" formControlName="note"></textarea>
        </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-button mat-dialog-close type="submit" [disabled]="!createNoteForm.valid" color="button-accent" (click)="onClickCreate()">Create</button>
        <button mat-button mat-dialog-close color="button-warn">Close</button>
    </mat-dialog-actions>
</div>