.student-notes-loading {
    position:fixed;
    top:50%;
    left:50%
}

.student-container {
    width: 100%;
}

.student-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 96px 0px;
    gap: 64px;
    background-color: var(--accent-100);
    border-bottom: 4px solid var(--accent);
}

.view-only-status-container {
    display: flex;
    justify-content: center;
}

.view-only-status {
    position: relative;
    top: -20px;
    font-size: 20px;
    background-color: var(--complementary-100);
    padding: 10px;
    border-radius: 20px;
}

.student-name {
    font-size: 48px;
    color: var(--primary);
}

.student-not-found {
    font-size: 48px;
    color: var(--warn-900);
}

.student-data-container {
    display:flex;
    flex-direction: row;
    padding: 64px;
    gap: 64px;
}
.right-column,
.cards {
    min-width: 280px;
    width: 20%;
    flex-direction: column;
    gap: 16px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
    margin-bottom: 20px;
    background-color: var(--primary-800);
    border-top: 2px solid var(--accent);
}

.card-title {
    font-size: 20px;
    font-weight: 400;
    color: var(--accent);
}

.student-rank {
    display: flex;
    align-items: center;
    gap: 4px;
}

.starting-rank {
    color: var(--white);
}

.rank-image {
    display: flex;
    width: 32px;
    height: 32px;
}

.trackergg-card:hover {
    background-color: var(--primary-850);
    transition-duration: .25s;
}

.student-notes {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.student-buttons {
    display: flex;
    gap: 16px;
}

.student-actions {
    display: flex;
    flex-direction: row-reverse;
}

.student-notes-content {
    font-size: 18px;
    color: var(--white);
}

.mat-expansion-panel-header-title {
    color: var(--accent);
}

.student-note-content {
    white-space: pre-wrap;
    color: var(--white);
}

.student-container .mat-action-row {
    padding: 16px;
}