@use '@angular/material' as mat;

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    font-family: 'Inter', sans-serif;
}

html {
    background-color: var(--primary);
    display: flex;
    justify-content: center;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

:root {
    --primary: var(--primary-900);
    --accent: var(--accent-400);
    --complementary: var(--complementary-400);
    --warn: var(--warn-600);
    --success: var(--success-500);
    --white: #ffffff;
    --black: var(--primary-900);

    --primary-50: #fbfbfb;
    --primary-100: #f6f6f6;
    --primary-200: #f1f1f1;
    --primary-300: #e5e5e5;
    --primary-400: #c3c3c3;
    --primary-500: #a5a5a5;
    --primary-600: #7b7b7b;
    --primary-700: #676767;
    --primary-800: #484848;
    --primary-850: #373737;
    --primary-900: #262626;
    
    --accent-50: #fff8df;
    --accent-100: #ffebaf;
    --accent-100-rgb: 255, 235, 175;
    --accent-200: #ffdf7b;
    --accent-300: #ffd342;
    --accent-400: #FFC700;
    --accent-500: #ffbe00;
    --accent-600: #ffb000;
    --accent-700: #ff9c00;
    --accent-800: #ff8a00;
    --accent-900: #ff6800;

    --complementary-50: #e9e8ff;
    --complementary-100: #c7c6ff;
    --complementary-200: #9ea1ff;
    --complementary-300: #707bff;
    --complementary-400: #485aff;
    --complementary-500: #0037ff;
    --complementary-600: #002df3;
    --complementary-700: #001ee6;
    --complementary-800: #0006dc;
    --complementary-900: #0000cd;

    --warn-50: #fee9e6;
    --warn-100: #ffcbb8;
    --warn-200: #ffa98b;
    --warn-300: #ff875b;
    --warn-400: #ff6b35;
    --warn-500: #ff4f05;
    --warn-600: #ff4800;
    --warn-700: #f14100;
    --warn-800: #e33800;
    --warn-900: #cc2700;

    --success-50: #f7ffe7;
    --success-100: #eaffc3;
    --success-200: #daff99;
    --success-300: #cbff6c;
    --success-400: #befc42;
    --success-500: #b7ff00;
    --success-600: #adeb00;
    --success-700: #9fd400;
    --success-800: #92bb00;
    --success-900: #7e9300;
}

$primary-palette: (
    50: var(--primary-50),
    100: var(--primary-100),
    200: var(--primary-200),
    300: var(--primary-300),
    400: var(--primary-400),
    500: var(--primary-500),
    600: var(--primary-600),
    700: var(--primary-700),
    800: var(--primary-800),
    850: var(--primary-850),
    900: var(--primary-900),
    contrast: (
        50: var(--black),
        100: var(--black),
        200: var(--black),
        300: var(--black),
        400: var(--black),
        500: var(--black),
        600: var(--black),
        700: var(--white),
        800: var(--white),
        850: var(--white),
        900: var(--white),
    )
);

$accent-palette: (
    50: var(--accent-50),
    100: var(--accent-100),
    200: var(--accent-200),
    300: var(--accent-300),
    400: var(--accent-400),
    500: var(--accent-500),
    600: var(--accent-600),
    700: var(--accent-700),
    800: var(--accent-800),
    900: var(--accent-900),
    contrast: (
        50: var(--black),
        100: var(--black),
        200: var(--black),
        300: var(--black),
        400: var(--black),
        500: var(--black),
        600: var(--black),
        700: var(--black),
        800: var(--black),
        900: var(--black),
    )
);

$warn-palette: (
    50: var(--warn-50),
    100: var(--warn-100),
    200: var(--warn-200),
    300: var(--warn-300),
    400: var(--warn-400),
    500: var(--warn-500),
    600: var(--warn-600),
    700: var(--warn-700),
    800: var(--warn-800),
    900: var(--warn-900),
    contrast: (
        50: var(--white),
        100: var(--white),
        200: var(--white),
        300: var(--white),
        400: var(--white),
        500: var(--black),
        600: var(--black),
        700: var(--black),
        800: var(--black),
        900: var(--black),
    )
);


$my-primary: mat.define-palette($primary-palette, 900);
$my-accent: mat.define-palette($accent-palette, 400, 100, 700);
$my-warn: mat.define-palette($warn-palette, 500);
$my-theme: mat.define-dark-theme((
    color: (
        primary: $my-primary,
        accent: $my-accent,
        warn: $my-warn,
    ),
    typography: mat.define-typography-config(
        $font-family: Inter,
    )
));

@include mat.core-theme($my-theme);
@include mat.all-component-themes($my-theme);

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: var(--accent);
}

.mat-button-accent {
    color: var(--primary);
    background-color: var(--accent);
}

.mat-button-accent:hover {
    color: var(--primary);
    background-color: var(--accent-300);
    transition-duration: .25s;
}

.mat-button-accent:disabled {
    background-color: var(--primary-700);
}

.mat-button-warn {
    color: var(--white);
    background-color: var(--primary-900);
}

.mat-button-warn:hover {
    color: var(--white);
    background-color: var(--warn-900);
    transition-duration: .25s;
}

.mat-button-warn:disabled {
    background-color: var(--warn-600);
}

::ng-deep .mat-option:hover {
    color: var(--black);
    background-color: var(--accent);
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: var(--primary);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-850); 
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent); 
    transition-duration: .25s;
}

// Disable number spinner
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}