@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

$main-background-color: #09161D;
$accent-color: #FFD79C;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-background-color {
    background-color: $main-background-color;
}